$color-primary: #38393E;
$color-secondary: #F48BA9;
$color-tertiary: #936ED4;

$color-yellow: #FEEDCB;
$color-orange: #FF7950;
$color-red: #D7443E;
$color-black: #000;
$color-black-light: #112533;
$color-white: #fff;
$color-grey-light: #F7F7F7;

$font-walsheim-regular: "GT Walsheim Pro", sans-serif;
$font-nexa-regular: "Nexa", sans-serif;
$font-poppins-regular: "Poppins", sans-serif;