.content-fulled-video {
    position: relative;
    font-family: $font-walsheim-regular;
    color: $color-primary;
    overflow-x: hidden;

    @include breakpoint(ultra-small) {
        padding-top: var(--padding_top_mobile, 58px);
        padding-bottom: var(--padding_bottom_mobile, 60px);
    }

    @include breakpoint(large) {
        padding-top: var(--padding_top_desktop, 118px);
        padding-bottom: var(--padding_bottom_desktop, 120px);
    }

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-yellow;
        opacity: 0.5;
    }

    .content-fulled-video__container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        max-width: 1330px;

        @include breakpoint(large) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .content-fulled-video__header {
        text-align: center;
    }

    .content-fulled-video__above-title {
        font-size: 16px;
        font-weight: 700;
        color: $color-tertiary;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .content-fulled-video__title {
        font-family: $font-walsheim-regular;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 62px;
        

        @include breakpoint(ultra-small) {
            font-size: 32px;
            letter-spacing: 0.2rem;
        }

        @include breakpoint(large) {
            font-size: 42px;
            margin-top: 12px;
            letter-spacing: 0.27rem;
        }
    }

    .content-fulled-video__body {
        display: flex;

        @include breakpoint(ultra-small) {
            gap: 35px;
            margin-top: 40px;
            flex-direction: column;
        }
        
        @include breakpoint(large) {
            gap: 30px;
            margin-top: 77px;
            flex-direction: row;
        }
    }

    .content-fulled-video__tabs {
        position: relative;

        @include breakpoint(ultra-small) {
            width: 100%;
        }

        @include breakpoint(large) {
            width: 49.1%;
            max-width: 630px;
        }

        &:has(&-radio:focus-visible) & {
            &-headings {
                outline: $color-black 1px solid;
            }
        }
    }

    .content-fulled-video__tabs-radio {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
    }

    .content-fulled-video__tabs-radio:checked + .content-fulled-video__tabs-content {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translateY(0);
        transition-property: opacity, transform, visibility, opacity;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }

    .content-fulled-video__tabs-radio:not(:checked) + .content-fulled-video__tabs-content {
        position: absolute;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(-10px);
    }

    .content-fulled-video__tabs-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: start;
        width: 100%;
    }

    .content-fulled-video__tabs-headings {
        position: relative;
        display: inline-flex;
        gap: 58px;
        margin-bottom: 47px;
        overflow: auto;
        white-space: nowrap;
        letter-spacing: 2px;
        padding-right: 30px;
        width: 100%;

        &::before {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: calc(100% + 70px);
            height: 1px;
            background-color: $color-primary;
            opacity: 0.2;
        }

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        @include breakpoint(ultra-small) {
            padding-left: 30px;
        }

        @include breakpoint(large) {
            padding-left: 0;
            margin-top: 75px;
        }
    }

    .content-fulled-video__tabs-label {
        display: flex;
        position: relative;
        line-height: 21px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        padding-bottom: 20px;

        &.content-fulled-video__tabs-label--active {
          color: $color-tertiary; 
          transition-property: color;
          transition-duration: 0.3s;
          transition-timing-function: ease-in-out;
          
          &::before {
            position: absolute;
            content: "";
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: $color-tertiary;
          }
        }
    }
 
    .content-fulled-video__content-title {
        font-family: $font-walsheim-regular;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 28px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 62px;
        letter-spacing: 2px;
    }

    .content-fulled-video__content-text {
        overflow: auto;
        line-height: 1.8;
        letter-spacing: 0;

        @include breakpoint(ultra-small) {
            height: 205px;
        }

        @include breakpoint(large) {
            height: 235px;
        }

        @include breakpoint(ultra-large) {
            padding-right: 80px;
        }

        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: $color-primary;
        }

        &::-webkit-scrollbar-track {
            border-radius: 5px;
            background-color: $color-tertiary;
        }
    }

    .content-fulled-video__video-wrapper {
        position: relative;
        width: 100%;

        @include breakpoint(ultra-small) {
            min-height: 277px;
        }

        @include breakpoint(large) {
            height: 416px;
            max-width: 630px;
            min-width: 420px;
        }
        
        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    .content-fulled-video__play-button {
        width: 100%;
        height: 100%;
        border: none;
        padding: 0;
        margin: 0;
        background-color: transparent;
    }

    .content-fulled-video__icon-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoint(ultra-small) {
            width: 48px;
            height: 48px;
        }

        @include breakpoint(large) {
            width: 72px;
            height: 72px;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .content-fulled-video__image-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;
        }

        img,
        svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        @include breakpoint(extra-small) {
            padding-top: 65.956%;
        }
    }

    .content-fulled-video__bottom {
        display: flex;

        @include breakpoint(ultra-small) {
            margin-top: 53px;
            flex-direction: column;
        }

        @include breakpoint(extra-small) {
            gap: 20px;
        }

        @include breakpoint(large) {
            margin-top: 16px;
            align-items: center;
            flex-direction: row;
        }

        .content-fulled-video-bottom__title {
            display: flex;
            gap: 36px;
            font-weight: 700;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
            line-height: 62px;

            @include breakpoint(large) {
                max-width: 40%;
            }
        }

        .content-fulled-video-bottom__icon-wrapper {
            font-family: 'Font Awesome 6 Pro';
            max-width: 21px;
            min-width: 21px;
            height: 43px;
    
            svg {
                width: 100%;
                height: 100%;
            }
        }

        .content-fulled-video-bottom__blocks {
            display: flex;
            column-gap: 10px;
            overflow: auto;
            height: 133px;

            @include breakpoint(ultra-small) {
                padding-right: 30px;
            }

            @include breakpoint(large) {
                margin-left: 75px;
                padding-right: 0;
            }

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
        }

        .content-fulled-video-bottom__block {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            min-width: 101px;
            max-width: 101px;
            font-size: 12px;
            letter-spacing: 0;
            height: 100%;
            max-height: 135px;

            &:first-child {
                @include breakpoint(ultra-small) {
                    margin-left: 30px;
                }
    
                @include breakpoint(large) {
                    margin-left: 0;
                }
            }
        }

        .content-fulled-video-bottom__block-image-wrap {
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 100%;
            height: 100%;
            margin-bottom: -20px;
        }

        .content-fulled-video-bottom__block-image {
            position: absolute;
            display: block;
            height: 100%;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            //transform: translate(-50%) translateY(25%) scale(50%);
            object-fit: contain;
            width: max-content;
            z-index: 2;
        }

        .content-fulled-video-bottom__block-title {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 27px 8px 14px;
            line-height: 16px;
            text-transform: lowercase;
            z-index: 1;

            &::before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $color-white;
                opacity: 0.4;
                z-index: -1;
            }
        }

        .content-fulled-video-bottom__block-title-text {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
    }

    .content-fulled-video-bottom__title,
    .content-fulled-video__tabs-content,
    .content-fulled-video__header {
        @include breakpoint(ultra-small) {
            padding-left: 30px;
            padding-right: 30px;
        }

        @include breakpoint(large) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
