.banner-benefits {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  font-family: $font-walsheim-regular;
  color: $color-primary;

  @include breakpoint(ultra-small) {
    padding-top: var(--padding_top_mobile, 58px);
    padding-bottom: var(--padding_bottom_mobile, 60px);
  }

  @include breakpoint(medium) {
      padding-top: var(--padding_top_desktop, 118px);
      padding-bottom: var(--padding_bottom_desktop, 120px);
  }

  .banner-benefits__svg,
  .banner-benefits__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 117px;
    margin: 0 auto;

    @include breakpoint(medium) {
      max-width: 170px;
    }

    svg,
    img {
      width: 100%;
    }
  }

  .banner-benefits__title {
    text-align: center;
    font-family: $font-walsheim-regular;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 43px;
    letter-spacing: 0.2rem;

    @include breakpoint(medium) {
      font-size: 42px;
      line-height: 56px;
    }
  }

  .banner-benefits__block-list {
    display: flex;
    row-gap: 37px;
    margin-top: 40px;
    column-gap: 20px;
    justify-content: center;
    flex-wrap: wrap;

    @include breakpoint(medium) {
      row-gap: 30px;
      column-gap: 30px;
      margin-top: 117px;
    }
  }

  .banner-benefits__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    letter-spacing: 0;

    @include breakpoint(ultra-small) {
      width: 180px;

      &:last-child:nth-of-type(odd) {
        width: 100%;
      }
    }

    @include breakpoint(medium) {
      width: 159px;

      &:last-child:nth-of-type(odd) {
        width: 159px;
      }
    }
  }

  .banner-benefits__block-svg {
    position: relative;
    overflow: hidden;
    width: 48px;
    height: 48px;
    color: $color-secondary;
  }

  .banner-benefits__block-img {
    width: 48px;
    height: 48px;

    .image {
      width: 100%;
      height: 100%;
    }
  }

  .placeholder-svg {
    position: absolute;
    width: 170px;
    height: 170px;
    transform: translateX(-60px) translateY(-60px);
  }

  .banner-benefits__block-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    gap: 3px;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 20px;

    @include breakpoint(medium) {
      flex-direction: column;
      gap: 5px;
    }
  }
}