.product__variant-picker {
  margin-top: var(--margin_top_mobile, 0);
  margin-bottom: var(--margin_bottom_mobile, 0);
  color: $color-primary;
  overflow: hidden;

  @include breakpoint(medium) {
    margin-top: var(--margin_top_desktop, 0);
    margin-bottom: var(--margin_bottom_desktop, 0);
  }
}

.product__variant-picker-list {
  display: flex;
  gap: 10px;
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;

  &::-webkit-scrollbar {
    height: 0;
  }

  input:checked + label {
    transition: all 0.3s;
    border: 3px solid $color-white;

    .product__variant-picker-item-image {
      transition: all 0.3s;
      background: radial-gradient(var(--color-preview, #FEE3EB), var(--color-preview-2, #FEE3EB));

      img {
        margin-bottom: 3px;
      }
    }

    .product__variant-picker-item-title {
      transition: all 0.3s;
      background-color: $color-white;
      padding-bottom: 10px;
      padding-top: 8px;
    }
  }

  input:disabled + label {
    opacity: 0.7;
    cursor: no-drop;
  }

  input:not(:checked) + label {
    background: linear-gradient(0deg, #FEE3EB 0%, #FEE3EB 40%, var(--color-preview, #FEE3EB) 40%, var(--color-preview, #FEE3EB) 100%);

    .product__variant-picker-item-title {
      padding-bottom: 14px;
    }
  }

  @include breakpoint(medium) {
    padding-left: initial;
    padding-right: initial;
  }
}

.product__variant-picker-item-title {
  display: block;
  width: 100%;
  padding-top: 10px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  max-height: 40px;
  height: 100%;
}


.product__variant-picker-item-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: 110px;

  img {
    margin-top: auto;
    filter: drop-shadow(0px 0px 5px #00000080);
    height: 80%;
    object-fit: contain;
    transition: all 0.3s;
  }
}

.product__variant-picker-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;
  overflow: hidden;
  width: 100%;
  max-width: 101px;
  cursor: pointer;
  flex: 0 0 100%;
}

.product__variant-picker-item--box {
  .product__variant-picker-item-image img {
    margin-top: initial;
    height: 100%;
  }
}