.product__title {
  display: block;
  margin-top: var(--margin_top_mobile, 0);
  margin-bottom: var(--margin_bottom_mobile, 0);
  font-family: $font-walsheim-regular;

  font-size: 38px;
  line-height: 52px;
  font-weight: 700;
  text-transform: uppercase;

  text-align: center;

  @include breakpoint(medium) {
    margin-top: var(--margin_top_desktop, 0);
    margin-bottom: var(--margin_bottom_desktop, 0);
    font-size: 62px;
    line-height: 84px;
    text-align: left;
  }
}

.product__title--color {
  color: $color-secondary;
}