.product__quantity-selector {
  position: relative;
  display: flex;
  padding: 5px 7px;
  gap: 7px;
  margin-top: var(--margin_top_mobile, 0);
  margin-bottom: var(--margin_bottom_mobile, 0);
  margin-left: 20px;
  margin-right: 20px;
  color: $color-secondary;
  border-radius: 10px;
  background-color: $color-white;

  @include breakpoint(medium) {
    margin-top: var(--margin_top_desktop, 0);
    margin-bottom: var(--margin_bottom_desktop, 0);
    margin-left: 0;
    margin-right: 0;
  }
}

.product__quantity-selector-input-container {
  flex: 1;
  position: relative;
  width: 100%;
}

.product__quantity-selector-input-button {
  position: absolute;
  top: 50%;
  padding: 0;
  border: none;
  width: 20px;
  height: 20px;
  z-index: 1;
  transform: translateY(-50%);
  color: $color-secondary;
  background: none;

  &[value="+"] {
    left: 10px;
  }

  &[value="-"] {
    right: 10px;
  }
}

.product__quantity-selector-input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  font-family: $font-walsheim-regular;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.product__quantity-selector-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 36px 23px 36px;
  width: 100%;
  max-width: 221.5px;
  border-radius: 10px;
  background-color: $color-tertiary;
  color: $color-white;

  svg {
    width: 22.5px;
    height: 20px;
  }

  @include breakpoint(medium) {
    padding: 24px 52px 26px 48px;
    max-width: 318px;
  }
}

.product__quantity-selector-btn[disabled] {
  opacity: 0.7;
  cursor: no-drop;
}

.product__quantity-selector-btn-text {
  font-weight: 700;
  text-transform: uppercase;
}